<h2>Create an Employee</h2>
<form action="/employees/create" method="POST">
    <label class="name"> Name:
        <input type="text" name="name" required />
    </label>
    <div>
        <p class="category">Industry</p>
        <p class="subtitle">Select Industry:</p>
        <label for="category1">Crypto</label> <input type="radio" name="category" id="category1" value="crypto"> <br>
        <label for="category2">Banking</label> <input type="radio" name="category" id="category2" value="banking"> <br>
        <label for="category3">VideoFX</label> <input type="radio" name="category" id="category3" value="videofx"> <br>
        <br> <br>
    </div>
    <div>
        <p class="employed">Employed</p>
        <p id="subtitle">Select your employment status:</p> <br>
        <label for="employed1">Employed?</label> <input type="radio" name="employed" id="employed1" value="true">
        <br><br>
    </div>
    <button type="submit" class="create"> Create </button>
</form>