<h2>Create a Recipe</h2>

<form action="/recipes/create" method="POST">

  <label class="name"> Name:
    <input type="text" name="name" required />
  </label>

  <p class="category">Industry</p>
<p class="subtitle">Select Industry:</p>
   <label for="category1">Crypto</label> <input type="radio" name="category" id="category1" value="mexican"> <br>
     <label for="category2">Banking</label> <input type="radio" name="category" id="category2" value="american"> <br>
      <label for="category3">VideoFX</label> <input type="radio" name="category" id="category3" value="chinese"> <br>
   
  </label>
<br>  <br>  

<p class="employed">Employed</p> 
<p id="subtitle">Select your employment status:</p> <br>
   <label for="employed1">Crypto</label> <input type="radio" name="employed" id="employed1" value="crypto"> <br>
     <label for="employed2">Banking</label> <input type="radio" name="employed" id="employed2" value="banking"> <br>
      <label for="employed3">VideoFX</label> <input type="radio" name="employed" id="employed3" value="videofx"> <br>
    

<br><br>
     
      
  
</label>
  <button type="submit" class="create"> Create </button>
 
 
  

</form>
